{% extends 'app/base.html' %}

{% block content %}

<div class="text-center my-5">
    <div class="mb-5">
        <h3>「{{ keyword }}」の検索結果</h3>
        <small>  {{ count_one_s }}件～{{ count_one_e }}件(全 {{ count }}件)</small>
    </div>
    <div class="row">
        {% for book in book_data %}
            <div class="col-3 mb-3">
                <div class="card img-thumbnail booklist h-100">
                    <img src="{{ book.image }}" alt="" class="card-img-top card-thum">
                    <div class="card-body text-center px-2 py-3">
                        <h5 class="font-weight">{{ book.title }}</h5>
                    </div>
                    <a href="{% url 'detail' book.isbn %}" class="stretched-link" target="_blank" rel="noopener noreferrer"></a>
                </div>
            </div>
        {% empty %}
            <p>該当する者はありません</p>
        {% endfor %}
    </div>

</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
    {% if page != 1 %}
        <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page|add:'-1' keyword %}"><<</a></li>
    {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#"><<</div></li>
    {% endif %}
    {% if pageCount < 6 %}
        {% for page_num in for_range %}
            {% if page_num == page %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ page_num }}</div></li>
            {% else %}
                <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page_num keyword %}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if page >= 5 %}
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' 1 keyword %}">1</a></li>
            <li>…</li>
        {% elif page == 4 %}
        <li><a class="page-link text-primary d-inline-block" href="{% url 'books' 1 keyword %}">1</a></li>
        {% endif %}
        {% if page > 2 %}
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page|add:'-2' keyword %}">{{ page|add:'-2' }}</a></li>  
        {% endif %}
        {% if page > 1 %}                  
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page|add:'-1' keyword %}">{{ page|add:'-1' }}</a></li>
        {% endif %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ page }}</div></li>
        {% if endnowpage >= 1 %}
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page|add:'1' keyword %}">{{ page|add:'1' }}</a></li>
        {% endif %}
        {% if endnowpage >= 2  %}
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page|add:'2' keyword %}">{{ page|add:'2' }}</a></li>
        {% endif %}                
        {% if endnowpage == 3 %}
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' pageCount keyword %}">{{ pageCount }}</a></li>
        {% elif endnowpage >= 4 %}
            <li>…</li>
            <li><a class="page-link text-primary d-inline-block" href="{% url 'books' pageCount keyword %}">{{ pageCount }}</a></li>
        {% endif %}
    {% endif %}
    {% if page != pageCount %}
        <li><a class="page-link text-primary d-inline-block" href="{% url 'books' page|add:'1' keyword %}">>></a></li>
    {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="">>></div></li>
    {% endif %}

    </ul>
</nav>


{% endblock %}